html {
  overflow: hidden;
}
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #addfff, #fff9e8);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: 'Share Tech Mono';
}
canvas {
  position: absolute;
  z-index: 9;
}
#button {
  border: 5px solid #151515;
  color: #151515;
  font-size: 4.5rem;
  padding: 1.5rem 3rem;
  z-index: 10;
  cursor: pointer;
}